 <button (click)="addRandomJoke()">Učitaj još</button>
             
             <div *ngFor="let joke of jokes; let i = index">
                <p (click)="deleteJoke(i)">{{joke}}</p>
             </div> 
             <hr>